html,
body,
#root {
  height: 100%;
}

#markdown-preview {
  padding: 10px;
}

#markdown-preview h1 {
  font-size: 28px;
  padding-bottom: 10px;
}

#markdown-preview h2 {
  font-size: 24px;
  padding-bottom: 8px;
}

#markdown-preview h3 {
  font-size: 20px;
  padding-bottom: 6px;
}

#markdown-preview h4 {
  font-size: 16px;
  padding-bottom: 4px;
  font-weight: bold;
}

#markdown-preview p {
  padding-bottom: 10px;
}

#markdown-preview ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#markdown-preview ol {
  margin-left: 20px;
  padding-bottom: 10px;
}
